@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap);

:root {
    --blue: #0000CD;
    --black: #000;
    --white: #fff;
    --light-bg: #eee;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black);
}

* {
    font-family: Rubik, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black);
}

*::selection {
    background: var(--black);
    color: var(--blue);
}

*::-webkit-scrollbar {
    width: .4rem;
    height: 1rem;
}

*::-webkit-scrollbar:hover {
    width: 1rem;
    transition: all 5s linear !important;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
    width: 1rem;
    height: 9rem;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    width: 1rem;
    height: 9rem;
    background: var(--black);
    border-radius: 5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background: var(--light-bg);
}

body.active {
    padding-left: 35rem;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.heading {
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);
    cursor: pointer;
}

.message {
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--blue);
    border: .2rem solid var(--black);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size:  2rem;
}

.message i:hover {
    transition: none;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-light);
    border-radius: .5rem;
    font-size: 2rem;
    border: .2rem solid var(--blue);
    text-decoration-style: var(--black);
}

.btn:hover{
    background-color: var(--black);
    color: var(--white);
    transition: all .5s linear !important;
}

/* Header */

.header {
    position: fixed;
    top: 0; left: -35rem;
    height: 100vh;
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .5s linear !important;
    text-align: center;
    z-index: 1000;
    background-color: var(--light-bg);
}

.header .logo {
    font-size: 3.5rem;
    color: solid var(--black);
    cursor: pointer;
    font-family: 'Rubik Burned', cursive;
}

.header .navbar {
    width: 100%;
}

.header .navbar a {
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: .5rem;
}

.header .navbar a.active, 
.header .navbar a:hover {
    background: var(--blue);
    color: var(--black);
    border-radius: .8rem;
    cursor: pointer;
    text-decoration: dotted underline;
}

.header .follow a {
    font-size: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
}

.header .follow a:hover {
    transform: rotate(360deg);
    color: var(--blue);
}

#menu-btn {
    position: absolute;
    top: 0; right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

#menu-btn:hover {
    background-color: var(--blue);
    color: var(--black);
    transition: all .3s linear;
}

.header.active {
    left: 0;
}

/* Home Section */

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
}

.home .image {
    flex: 1 1 40rem;
    border-radius: 50%;
}

.home .image img {
    height: auto;
    width: 95%;
    border-radius: 50%;
    padding: .5rem;
    border: var(--border-bold);
    cursor: pointer;
}

.home .image img:hover {
    color: var(--blue);
    border: .2rem solid var(--blue);
    transition: all .5s linear !important;
}

.home .content {
    flex: 1 1 40rem;
}

.home .content h3 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: .5rem;
    font-family: 'Orbitron', sans-serif;
}

.home .content span {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--blue);
    text-transform: none;
    font-size: 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    cursor: pointer;
    box-sizing: border-box;
}

.home .content p {
    font-size: 1.7rem;
    line-height: 2;
    padding: 1rem 0;
}

/* About Section */

.about .biography p {
    margin: 2rem auto;
    max-width: 70rem;
    line-height: 2;
    font-size: 1.7rem;  
}

.about .biography .bio {
    margin: 1rem 0;
}

.about .biography .bio h3 {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 1rem;
    background-color: var(--light-bg);
    border: var(--border-light);
    word-break: break-all;
    font-size: 2.5rem;
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
}

.about .biography .bio h3 span {
    font-weight: lighter;
}

/* Skills Section */

.about .skills {
    margin: 3rem 0;
}

.about .skills .progress {
    margin-top: .5rem;
}

.about .skills .progress .bar {
    margin: 1rem 0;
    max-width: 100rem;
    border: var(--border-bold);
    padding: .5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    
}

.about .skills .progress .bar h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: .5rem 2rem;
    background-color: var(--blue);
    cursor: pointer;
}

.about .skills .progress .bar span {
    font-weight: normal;
}

.about .skills .progress .bar:nth-child(1) h3{
    width: 96%;
}

.about .skills .progress .bar:nth-child(2) h3 {
    width: 87%;
}

.about .skills .progress .bar:nth-child(3) h3 {
    width: 70%;
}

.about .skills .progress .bar:nth-child(4) h3 {
    width: 60%;
}

.about .skills .progress .bar:nth-child(5) h3 {
    width: 65%;
}

.about .skills .progress .bar:nth-child(6) h3 {
    width: 50%;
}

.about .skills .progress .bar:nth-child(7) h3 {
    width: 80%;
}

.about .edu-exp .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .edu-exp .row .box-container {
    flex: 1 1 40rem;
}
.about .edu-exp .row .box-container:hover {
    background-color: none;
}

.about .edu-exp .row .box-container .title {
    padding: 1rem;
    font-size: 3rem;
    background-color: var(--blue);
    cursor: pointer;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.about .edu-exp .row .box-container .box {
    text-align: left;
    margin: 1.5rem 0;
    background-color: var(--light-bg);
    padding: 2rem;
    border: var(--border-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    cursor: pointer;
}

.about .edu-exp .row .box-container .baby:hover {
    border: .2rem solid var(--blue);
    transition: all .4s linear !important;
}

.about .edu-exp .row .box-container .box span {
    font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin: 1rem 0;
}

.about .edu-exp .row .box-container .box p {
    font-size: 1.7rem;
    line-height: 2;
}

/* Services Section */

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.services .box-container .box {
    padding: 3rem 2rem;
    border: var(--border-light);
    cursor: pointer;
}

.services .box-container .box i {
    font-size: 4rem;
    margin-bottom: .5rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--blue);
    margin: 1rem 0;
    font-weight: normal;
}

.services .box-container .box p {
    line-height: 2;
    font-size: 1.7rem;
}

.services .box-container .box:hover {
    border: .2rem solid var(--blue);
    transition: all .4s linear !important;
    background-color: var(--black);
}

.services .box-container .box:hover i {
    color: var(--blue);
}

.services .box-container .box:hover p {
    color: var(--white);
}

/* Portfolio Section */

.portfolio  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.portfolio .box-container .box img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5rem;
    border: .2rem solid var(--white);
    transition: all .4s linear !important;
}

.portfolio .box-container .box img:hover {
    cursor: pointer;
    border: .2rem solid var(--black);
    transition: all .4s linear !important;
}

.portfolio .box-container .box h3 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: normal;
}

.portfolio .box-container .box span {
    font-size: 1.7rem;
}

.portfolio .box-container:hover .box {
    opacity: .2;
}

.portfolio .box-container .box:hover {
    opacity: 1;
    cursor: pointer;
}

/* Contact Section */

.contact form {
    max-width: 70rem;
    margin: 0 auto;
}

.contact form .box {
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-transform: none;
    letter-spacing: 1px;
    place-self: True;
    color:var(--blue);
    border: var(--border-light);
    border-radius: .5rem;
    margin: 1rem 0;   
}

.contact form .box:focus {
    outline: none;
    border: .2rem solid var(--blue);
    transition: all .4s linear !important;
}

.contact form  textarea {
   height: 20rem;
   resize: none;
}

.contact form .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.contact form .flex .box {
    width: 49%;
}

.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    margin-top: 2rem;
}

.contact .box-container .box {
    padding: 3rem 2rem;
    border: var(--border-light);
    border-radius:.5rem;
    cursor: pointer;
    background-color: var(--light-bg);
}

.contact .box-container .box:hover {
    border: .2rem solid var(--blue);
    transition: all .4s linear !important;
}

.contact .box-container .box i {
    font-size: 2rem;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    line-height: 6.5rem;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: .5rem;
}

.contact .box-container .box h3 {
    margin: .5rem 0;
    font-size: 2rem;
}

.contact .box-container .box p {
    font-size: 1.9rem;
    line-height: .7;
    text-transform: none;
}




/*Credit section*/

.credit {
    text-align: center;
    padding: 3rem;
    background-color: var(--black);
    color: var(--white);
    border-top: .2rem solid var(--blue);
    font-size: 2rem;
    font-weight: normal;
    font-family: 'BhuTuka Expanded One', cursive;
}

.credit span {
    color: var(--blue);
    font-family: 'Rubik Burned', cursive;
}

/*Media Queries*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    
    body.active {
        padding-left: 0;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header.active {
        padding-top: 7rem;
    }

    #menu-btn.fa-times {
        right: 0;
    }

    .home .image img {
        height: auto;
        width: 100%;
    }

    .heading span {
        font-size: 4rem;
    }

    .about .biography .bio h3 {
        font-size: 2rem;
    }

    .about .skills .progress .bar h3 {
        font-size: 1.5rem;
    }

    .contact form .flex .box {
        width: 100%;
    }

    .home .image img {
        height: auto;
        width: 100%;
    }
}



